<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Queen Elizabeth Park Community and Cultural Centre</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>

  <div class="container-fluid container-style">

    <div class="row justify-content-md-center text-center header-style">
        <h1>Queen Elizabeth Park Community and Cultural Centre</h1>
    </div>

    <div class="row table-responsive-md tbody td table-style">
      <table id="event-table" class="table">
        <thead>
          <tr>
            <th scope="col">
                <h3>Start</h3>
            </th>
            <th scope="col">
                <h3>End</h3>
            </th>
            <th scope="col">
                <h3>Room</h3>
            </th>
            <th scope="col">
                <h3>Event</h3>
            </th>
          </tr>
        </thead>
        <tbody class="table-row-style">
        </tbody>
      </table>
    </div>
    <div id="noUpcomingMessage" class="row justify-content-md-center text-center mt-5 message-style">
        <h2>There is no upcoming events</h2>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>